@charset "UTF-8";
body{
  font-family: 'メイリオ','Hiragino kaku Gothic Pro',sans-serif;
}
img {
  margin-left: 10px;
  max-width: 100%
}
* {
  margin:0;
  padding:0;
}
a {
  text-decoration: none;
  color: #000;
  list-style: none;
}

a:hover{
  background-color: #acacac;
}
.box2 {
    margin-left: 10px;
  background-color: #80c6cc;
}

.menu li a :hover{
  background-color: #76e5f9;
}

/*サイト名*/

.site h1 a{
  margin: 10px;
  color: #aa1b5e;
}
.site a:hover{
  background-color: transparent;
}
.site h1 {
  font-family: 'Faster One', cursive;
  font-size: 40px;
  margin: 10;
}
/*ナビゲーション*/
.menu ul{
  margin: 10px;
  list-style: none;
}
.menu li{
  list-style: none;
 font-size: 13px;
}
.menu li a {
  display: block;
  color: #000;
  padding: 20px;
}

.menu li{
  float: left;
}

.menu ul:after{
  content: "";
  display: block;
  clear: both;
}

.menu li a :hover{
  background-color: #76e5f9;
}

/*記事*/
.kiji h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 36px;
}
.kiji p {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 15px;
  display: block;
}
.kijiinfo{
  margin-top: -10px;
margin-bottom: 20px;
}
.kijiinfo i{
  margin-right: 5px;
  padding-left: 10px;
  color: #1480c6;
  font-size: 30px;
}
.kiji li{
  list-style: none;
  background-color: #80c6cc;
  float: left;
  margin-right: 10px;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}
.kiji ul:after{
  content: "";
  display: block;
  clear: both;
}
.kiji li :hover{
  background-color: transparent;


/*サイドメニュー*/
.sidemenu{
  margin: 20px;
  padding: 20px;
}
.sidemenu li{
  margin-left: 5px;
  margin-top: 5px;
    list-style: none;
}
.sidemenu h3{
  color: #515151;
  border-bottom: dotted 2px #9b9b9b;
  font-size: 18px;
}
.sidemenu li a {
  display: block;
  list-style: none;
  font-size: 11px;
  padding: 5px;
}

.box5{
  margin: 10px;
 padding-top: 15px;;
 padding-bottom: 15px;
 border-top: 1px #c6c6c6 solid;
}

@media(max-width:599px){
  .menu li a {
    padding: 10px 3px;
    font-size: 11px;
  }
  .sito h1{
    font-size: 20px;
  }
  .kiji h1{
    font-size: 26px;
  }
  .box1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .box3{
    padding-top: 25px;
    clear: both;
  }
}
@media(min-width:600px) and (max-width:768px){
  .box4-1{
    float: left;
    width: 50%;
    padding-left:20px;
    box-sizing: border-box;
    -moz
  }
  .box4-2{
    float: left;
    width: 50%;
    padding-left:20px;
    box-sizing: border-box;
  }
  .box4:after{
    content: "";
    display: block;
    clear: both;
  }
}

@media (min-width:768px){
  .box3{
    width: 70%;
    float: left;
  }
  .box4{
    width: 30%;
    float: left;
  }
  .boxA:after {
  content: "";
  display: block;
  clear: both;
}
/*画面の大きさを制限させる、大きい画面で見たとき真ん中の空間ができる等を改善するためのタグ*/
@media(min-width:1040px)  {
  .box1,.box2,.boxA,.box5{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
